.board__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: calc(250px / 3);
  height: calc(250px / 3);
  font-size: 40px;
  color: white;
  background: none;
  border:none;

  /*background-color: transparent;*/
  border: 3px solid #fff;
  border-radius: 10px;
}


.bxx:hover:before{content: "X";opacity:0.5;color: white;font-weight: bold;}
.boo:hover:before{content: "O";opacity:0.5;color: white;font-weight: bold;}

.boxOne,.boxTwo,.boxThree{
border-top:0px !important;
}

.boxOne,.boxFour,.boxSeven{
  border-left: 0px !important;
}

.boxThree,.boxSix,.boxNine{
  border-right: 0px !important;
}

.boxSeven,.boxEight,.boxNine{
  border-bottom: 0px !important;
}
